<!DOCTYPE html>
<html lang="en">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
        integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>

<head>
    <meta charset="UTF-8">
    <title>Google.com</title>
</head>

<body>
<center>
    <img src="https://www.google.pl/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"
         style="padding-top: 100px;"/>
    <br>
    <form method="POST">
        <input name="search" lass="form-control">
        <button type="submit" class="btn btn-primary" formmethod="POST">Submit</button>
    </form>
</center>
</body>
</html>