html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.dropdown {
    cursor:pointer;
}


.img-home-portfolio,
.img-customer,
.portfolio-item {
    margin-bottom: 30px;
}

.tab-pane {
    margin-top: 15px;
}

/* Page Sections */
.section,
.section-colored {
    padding: 50px 0;
}

.section-colored {
    background-color: #e1e1e1;
    /* change this to change the background color of a colored section */
}

.sidebar {
    margin-top: 40px;
}

.sidebar ul {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
}

/* Half Page Height Carousel Customization */
.carousel {
    height: 50%;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* Social Icons Styles */
.list-social-icons {
    margin-bottom: 45px;
}

.tooltip-social a {
    text-decoration: none;
    color: inherit;
}

.facebook-link a:hover {
    color: #3b5998;
}

.linkedin-link a:hover {
    color: #007fb1;
}

.twitter-link a:hover {
    color: #39a9e0;
}

.google-plus-link a:hover {
    color: #d14836;
}

/* Service Page Styles */
.service-icon {
    font-size: 50px;
}

/* 404 Page Styles */
.error-404 {
    font-size: 8em;
}

/* Pricing Page Styles */
.price {
    font-size: 4em;
}

.price-cents {
    vertical-align: super;
    font-size: 50%;
}

.price-month {
    font-size: 35%;
    font-style: italic;
}

/* Footer Styles */
footer {
    margin: 50px 0;
}

/* Responsive Styles */
@media (max-width: 767px) {

    .carousel {
        height: 70%;
        /* increases the carousel height so it looks good on phones */
    }
}

.divider-vertical {
    height: 40px;
    margin: 5px;
    border-left: 1px solid #E51E41;
}

img.center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

div.section-colored {
    background-color: #E51E41;
    color: #efefef
}
div.section {
    background-color: #efefef;
}
nav.navbar {
    background-color: #efefef;
    border-bottom: 0px;
    border-color: #efefef;
    background-image: linear-gradient(rgb(255, 255, 255) 0px, rgb(239, 239, 239) 100%);
}

.navbar-inverse .navbar-brand {
    text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
    color: #E51E41;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #777;
}

.navbar-inverse .navbar-nav>li>a {
    text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
    color: #E51E41;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #777;
}

.need-help {
    background-color: #E51E41;
    color: #efefef !important;
    background-image: linear-gradient(rgb(229, 30, 65) 0px, rgb(229, 30, 65) 100%);
}

.need-help:hover {
    background-color: #efefef;
    color: #E51E41 !important;
    background-image: None;
}
.need-help-clicked {
    background-color: #8ce554;
    color: #efefef !important;
    background-image: linear-gradient(rgb(140, 229, 84) 0px, rgb(140, 229, 84) 100%);
}

.need-help-clicked:hover {
    background-color: #efefef;
    color: #8ce554 !important;
    background-image: None;
}