<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About
            </h1>
        </div>

        <div class="row">

            <div class="col-md-3">
                <img class="img-responsive center" src="/images/program.jpg"
                     style="max-height: 200px;">
            </div>
            <div class="col-md-9">
                <h2>Program warsztatów:</h2>
                <p>Pełen program edukacyjny na cały rok jest już dostępny tutaj: <a href="#/program">Program</a></p>
                <p>Nad agendą weekendowych warsztatów jeszcze pracujemy <a href="#/agenda"></a>.</p>


                <h2>Educational program:</h2>
                <p>Complete educational program for the whole year is accesable here: <a href="#/program">Program</a></p>
                <p>We are still working on kickoff weekend workshops agenda <a href="#/agenda"></a>.</p>
             </div>

        </div>
        <br>

        <div class="row">

            <div class="col-md-3">
                <img class="img-responsive center" src="/images/logo.png"
                     style="max-height: 200px;">
            </div>
            <div class="col-md-9">
                <h2>AioQuiz</h2>
                <p>AioQuiz jest naszą autorską aplikacją do przeprowadzania warsztatów rozwijaną pod skrzydłami naszego głównego mentora Piotr Dyby. Wszystkie uwagi można kierować do niego, najlepiej tworząc Issue na Githubie.</p>
                <p>Aplikacja jest napisana w Pythonie i wykorzystuje Sanic,
                    PostgresSQL oraz AngularJS.</p>
                <p>AioQuiz is our own opensource application for recruitment and execution of workshops.</p>
                <p>It is written in Python using asynchronous framework Sanic,
                    PostgresSQL and AngularJS.</p>
            </div>

        </div>
        <br>

        <div class="row">

            <div class="col-md-6">
                <img class="img-responsive" src="/images/code-of-conduct.png">
            </div>
            <div class="col-md-6">

                <h2>Kodeks Postępowania</h2>
                <p>Na naszych zajęciach oraz wydarzeniach, którym patronujemy,
                    dbamy o dobre samopoczucie wszystkich uczestników oraz
                    mentorów, dlatego obowiązuje na nich kilka ważnych dla nas
                    zasad. Opis zachowań, do których zachęcamy, a także tych,
                    których staramy się unikać, dostępny jest pod adresem: <a
                            href="http://berlincodeofconduct.org/pl/">Berlin
                        Code of Conduct</a>
                </p>
                <p>
                    Jeśli czyjeś zachowanie sprawiło, że poczuliście się
                    komfortowo, skontaktujcie się proszę bezpośrednio z
                    organizatorem spotkania, lub mailowo (także jeśli wolicie
                    zachować anonimowość), z Moniką (moniaj@pyladiesstart.pl) lub Piotrem
                    (piotr@pyladiesstart.pl).
                </p>
                <p>
                    Wierzymy, że konflikty często wynikają z niefortunnych
                    nieporozumień i zależy nam na dobrej współpracy z każdą ze
                    stron ewentualnego konfliktu. W przypadku wyraźnych i
                    konsekwentnych nadużyć z czyjejś strony, będziemy jednak
                    zmuszeni wyprosić taką osobę ze spotkania.
                </p>
                <h2>Code of Conduct</h2>
                <p>We have chosen <a href="http://berlincodeofconduct.org/en/">Berlin
                    Code of Conduct</a>, which has been
                    adopted by many other conferences and groups.
                    In case of Code of Conduct violation or other similar
                    problems please contact Monika by email moniaj@pyladiesstart.pl or
                    Piotr by email piotr@pyladiesstart.pl
                </p>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">O nas w mediach !</h1>
                <ul>
                    <li><a href="http://www.gloswielkopolski.pl/wiadomosci/poznan/a/poznan-bezplatne-zajecia-z-programowania-w-jezyku-python,12456846/">Głoś Wielkopolski</a></li>
                    <li><a href="http://mamstartup.pl/programowanie/11901/nie-mam-talentu-do-programowania-ale-nie-przeszkodzilo-mi-to-w-nauce">MamStartup</a></li>
                    <li><a href="https://www.facebook.com/lepszypoz/posts/10156595946846040">Lepszy Poznań</a> </li>
                </ul>
            </div>

            </div>
        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Nasz Zespół</h1>
            </div>

            <div class="col-lg-12">
            <h2 class="page-header">Główni organizatorzy</h2>
                </div>

            <div class="col-sm-4" ng-repeat="user in vm.allUsers" ng-if="user.admin">
                <img class="img-responsive" src="/images/{{ user.img }}" ng-if="user.img">
                <h3>{{ user.name }} {{ user.surname }}<br>
                    <small ng-show="user.admin">Admin, {{ user.pyfunction }}</small>
                    <br>
                    <small>{{ user.email }}</small>
                </h3>
                <p>{{ user.description }}</p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li class="tooltip-social facebook-link"
                        ng-show="user.facebook"><a href="{{ user.facebook }}"
                                                   data-toggle="tooltip"
                                                   data-placement="top"
                                                   title="Facebook"><i
                            class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social linkedin-link"
                        ng-show="user.linkedin"><a href="{{ user.linkedin }}"
                                                   data-toggle="tooltip"
                                                   data-placement="top"
                                                   title="LinkedIn"><i
                            class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social twitter-link"
                        ng-show="user.twitter"><a href="{{ user.twitter }}"
                                                  data-toggle="tooltip"
                                                  data-placement="top"
                                                  title="Twitter"><i
                            class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                </ul>
            </div>

<div class="col-lg-12">
            <h2 class="page-header">Organizatorzy</h2>
    </div>
            <div class="col-sm-4" ng-repeat="user in vm.allUsers" ng-if="user.organiser && !user.admin">
                <img class="img-responsive" src="/images/{{ user.img }}" ng-if="user.img">
                <h3>{{ user.name }} {{ user.surname }}<br>
                    <small ng-show="user.admin">Admin</small>
                    <small ng-show="user.organiser" ng-hide="user.admin">
                        Organizator
                    </small>
                    <br>
                    <small>{{ user.email }}</small>
                </h3>
                <p>{{ user.description }}</p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li class="tooltip-social facebook-link"
                        ng-show="user.facebook"><a href="{{ user.facebook }}"
                                                   data-toggle="tooltip"
                                                   data-placement="top"
                                                   title="Facebook"><i
                            class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social linkedin-link"
                        ng-show="user.linkedin"><a href="{{ user.linkedin }}"
                                                   data-toggle="tooltip"
                                                   data-placement="top"
                                                   title="LinkedIn"><i
                            class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social twitter-link"
                        ng-show="user.twitter"><a href="{{ user.twitter }}"
                                                  data-toggle="tooltip"
                                                  data-placement="top"
                                                  title="Twitter"><i
                            class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-12">
            <h2 class="page-header">Mentorzy</h2>
                </div>
            <div class="col-sm-4" ng-repeat="user in vm.mentors" ng-if="user.mentor && !user.admin && !user.organiser">
                <img class="img-responsive" src="/images/{{ user.img }}" ng-if="user.img">
                <h3>{{ user.name }} {{ user.surname }}<br>
                    <small> Mentor </small>
                    <br>
                    <small>{{ user.email }}</small>
                </h3>
                <p>{{ user.description }}</p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li class="tooltip-social facebook-link"
                        ng-show="user.facebook"><a href="{{ user.facebook }}"
                                                   data-toggle="tooltip"
                                                   data-placement="top"
                                                   title="Facebook"><i
                            class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social linkedin-link"
                        ng-show="user.linkedin"><a href="{{ user.linkedin }}"
                                                   data-toggle="tooltip"
                                                   data-placement="top"
                                                   title="LinkedIn"><i
                            class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social twitter-link"
                        ng-show="user.twitter"><a href="{{ user.twitter }}"
                                                  data-toggle="tooltip"
                                                  data-placement="top"
                                                  title="Twitter"><i
                            class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                </ul>
            </div>


        </div>

    </div>
</div>
