<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Admin
            </h1>
    </div>


<h3>All registered users x:</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.email}} -{{user.name}} {{user.surname}}- (Admin:{{user.admin}} | Mentor: {{user.mentor}} | Organiser: {{user.organiser}})
        <a ng-click="vm.deleteUser(user.id)" class="btn btn-xs btn-danger">Delete</a>
        <a ng-click="vm.makeOrganiser(user)" class="btn btn-xs btn-primary">Make Organiser</a>
    </li>
</ul>


<p>&nbsp;</p>
<p><a href="#!/login" class="btn btn-xs btn-primary">Logout</a></p>
</div>

<!-- /.container -->
