<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Admin
            </h1>
        </div>


        <h3>Stats</h3>

        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Count</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="(user, count) in vm.users_stats"
                    ng-repeat="user in vm.allUsers"
                    ng-class="{'danger': user === 'admins', 'success': user === 'mentors', 'warning': user === 'organisers', 'info': user === 'atendees'}">
                    <td>{{ user }}</td>
                    <td>{{ count }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <h3>All registered users x:</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>E-mail</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Active</th>
                    <th>Delete</th>
                    <th>Make Organiser</th>
                    <th>Make Mentor</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="user in vm.allUsers"
                    ng-class="{'danger': user.admin, 'success': user.mentor, 'warning': user.organiser, 'info': !user.mentor}">
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.name }} </td>
                    <td>{{ user.surname }}</td>
                    <td ng-if="!user.active"><a ng-click="vm.makeActive(user)"
                       class="btn btn-xs btn-success">Make Active</a>
                    <td ng-if="user.active && !user.admin"><a ng-click="vm.makeInactive(user)"
                       class="btn btn-xs btn-danger">Deactivate</a>
                    <td ng-if="user.admin">Yeah</td>
                    <td><a ng-hide="user.admin" ng-click="vm.deleteUser(user.id)"
                           class="btn btn-xs btn-danger">Delete</a>
                        <x ng-show="user.admin">Nope</x>
                </td>
                    <td><a ng-if="!user.admin" ng-show="!user.organiser" ng-click="vm.makeOrganiser(user)"
                           class="btn btn-xs btn-primary">Make Organiser</a>
                        <a ng-hide="user.admin || !user.organiser" ng-show="user.organiser" ng-click="vm.removeOrganiser(user)"
                           class="btn btn-xs btn-danger">Remove Organiser</a>
                    <x ng-show="user.admin">Nope</x>
                    <td><a ng-hide="user.mentor || user.admin" ng-click="vm.makeMentor(user)"
                       class="btn btn-xs btn-info">Make Mentor</a>
                    <a ng-show="user.mentor && !user.admin" ng-click="vm.removeMentor(user)"
                       class="btn btn-xs btn-info">Remove Mentor</a>
                    <x ng-show="user.admin">Nope</x>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
