<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Agenda</h1>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header">Miejsce PyLadies Start</h2>
                <p class="text-justify">Warsztat PyLadies Start odbędzie się na terenie Międzynarodowych Targów Poznańskich, pawilon 14, wejście od ul. Roosevelta (Hol Wschodni)</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <figure>
                    <img class="img-responsive center" src="/images/MTP_mapa.png"
                         style="max-height: 800px;">
                    <figcaption>MTP Pawilon 14</figcaption>
                </figure>

            </div>
            <div class="col-md-6">
                <figure>
                    <img class="img-responsive center" src="/images/MTP_hol_wschodni.png"
                     style="max-height: 800px;">
                    <figcaption>Hol Wschodni, ul. Roosevelta</figcaption>
                </figure>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header">Agenda PyLadies Start</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3 class="page-header">Dzień I - 23.09.2017 sobota</h3>
                <table style="width:100%" cellpadding="2">
                    <tr>
                        <td>8:15 - 08:45</td>
                        <td>Rejestracja</td>
                    </tr>
                    <tr>
                        <td>9.00 - 11.30</td>
                        <td>Warsztat</td>
                    </tr>
                    <tr>
                        <td>11.30 - 11.45</td>
                        <td>Przerwa kawowa</td>
                    </tr>
                    <tr>
                        <td>11.45 - 12.00</td>
                        <td>Lightning talk</td>
                    </tr>
                    <tr>
                        <td>12.00 - 14.00</td>
                        <td>Warsztat</td>
                    </tr>
                    <tr>
                        <td>14.00 - 14.45</td>
                        <td>Przerwa obiadowa</td>
                    </tr>
                    <tr>
                        <td>14.45 - 15.00</td>
                        <td>Lightning talk</td>
                    </tr>
                    <tr>
                        <td>15.00 - 16.30</td>
                        <td>Warsztat</td>
                    </tr>
                    <tr>
                        <td>15.00 - 16.30</td>
                        <td>Warsztat</td>
                    </tr>
                    <tr>
                        <td>16.30 - 16.45 </td>
                        <td>Lightning talk</td>
                    </tr>
                    <tr>
                        <td>16.45 -  17.00 </td>
                        <td>Przerwa kawowa</td>
                    </tr>
                    <tr>
                        <td>16.55 - 18.00</td>
                        <td>Warsztat</td>
                    </tr>
                    <tr>
                        <td>18.30 - 22.00</td>
                        <td>Afterparty w <a href="https://goo.gl/maps/vnbveNE92AE2">Tandem Pub</a>></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <h3 class="page-header">Dzień II - 24.09.2017 niedziela</h3>
                <table style="width:100%" cellpadding="2">
                    <tr>
                        <td>9.00 11.30</td>
                        <td>Warsztat</td>
                    </tr>
                    <tr>
                        <td>11.30 - 11.45</td>
                        <td>Przerwa kawowa</td>
                    </tr>
                    <tr>
                        <td>11.45 - 12.00</td>
                        <td>Lightning talk</td>
                    </tr>
                    <tr>
                        <td>12.00 - 14.00</td>
                        <td>Warsztat</td>
                    </tr>
                    <tr>
                        <td>14.00 - 14.45</td>
                        <td>Przerwa obiadowa</td>
                    </tr>
                    <tr>
                        <td>14.45 - 15.00</td>
                        <td>Lightning talk</td>
                    </tr>
                    <tr>
                        <td>15.00 - 16.30</td>
                        <td>Warsztat</td>
                    </tr>
                    <tr>
                        <td>15.00 - 16.30</td>
                        <td>Warsztat</td>
                    </tr>
                    <tr>
                        <td>16.30 - 16.45 </td>
                        <td>Lightning talk</td>
                    </tr>
                    <tr>
                        <td>16.45 -  17.00 </td>
                        <td>Przerwa kawowa</td>
                    </tr>
                    <tr>
                        <td>16.55 - 18.00</td>
                        <td>Warsztat</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>Pełen program edukacyjny warsztatów weekendowych oraz rocznych jest już dostępny tutaj:
                    <a href="#/program">Program</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header">Instrukcje instalacji</h2>
                <ul>
                    <li>
                        <a href="https://www.youtube.com/watch?v=0d6znPZb3PQ/">Python na Windows</a>
                    </li>
                    <li>
                        <a href="https://youtu.be/ebgy92mgh-E">PyCharm na Windows</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>