<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Attendee: Review</h1>
        </div>

    </div>
    <form name="form" ng-submit="vm.filters()" role="form">
        <div class="form-group">
            <label for="filter">Filter:<br>
                <input class="form-inline text-left" type="radio"
                       value="notrated" ng-change='vm.filters()'
                       class="form-control" ng-model="vm.filter" required/>
                notrated
                <input class="form-inline text-left" type="radio"
                       value="notratedbyme" ng-change='vm.filters()'
                       class="form-control" ng-model="vm.filter" required/>
                notrated by me
                <input class="form-inline float-right" type="radio"
                       value="top200" ng-change='vm.filters()'
                       class="form-control" ng-model="vm.filter" required/>
                top200
                <input class="form-inline float-right" type="radio"
                       value="accepted" ng-change='vm.filters()'
                       class="form-control" ng-model="vm.filter" required/>
                accepted
                <input class="form-inline float-right" type="radio"
                       value="confirmed" ng-change='vm.filters()'
                       class="form-control" ng-model="vm.filter" required/>
                confirmed
                <input class="form-inline float-right" type="radio"
                       value="unconfirmed" ng-change='vm.filters()'
                       class="form-control" ng-model="vm.filter" required/>
                unconfirmed
                <input class="form-inline float-right" type="radio"
                       value="mentor" ng-change='vm.filters()'
                       class="form-control" ng-model="vm.filter" required/>
                mentor
                <input class="form-inline float-right" type="radio"
                       value="all" ng-change='vm.filters()'
                       class="form-control" ng-model="vm.filter" required/> all
                attendee
            </label>
        </div>
    </form>

<div class="row">
<div class="col-lg-12">
    <div class="col-sm-4" ng-repeat="u in vm.attendee" ng-if="u.show">
        <div class="panel panel-default text-left">
            <div class="panel-heading">
                <strong>{{ u.name }} {{ u.surname }}</strong>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <b>Operating system:</b>
                    {{ u.operating_system }}
                </li>
                <li class="list-group-item">
                    <b>Description:</b>
                   <p> {{ u.description }}</p>
                </li>
                <li class="list-group-item">
                    <b>Motivation: </b>
                   <p> {{ u.motivation }}</p>
                </li>
                <li class="list-group-item">
                    <b>What can you bring:</b>
                   <p> {{ u.what_can_you_bring }}</p>
                </li>
                <li class="list-group-item">
                    <b>Experience:</b>
                    <p>{{ u.experience }}</p>
                </li>
                <li class="list-group-item">
                    <b>App Idea:</b>
                    <p>{{ u.app_idea }}</p>
                </li>
                <li class="list-group-item" ng-if="u.i_helped">
                    <b>Helped with:</b>
                    <p class="text-success">{{ u.helped }}</p>
                </li>

                <li class="list-group-item">
                    <p ng-class="{'text-danger': !u.python, 'text-success': u.python}">Python</p>
                    <p ng-class="{'text-danger': !u.attend_weekly, 'text-success': u.attend_weekly}">I will continue weekly</p>
                </li>
                <li class="list-group-item">
                    <b>Score:</b>
                    {{ u.score }}
                </li>
                <li class="list-group-item" ng-show="u.reviews">
                    <b>Reviews:</b>
                    <p ng-repeat="s in u.reviews">{{ s.name }}: {{ s.score }}</p>
                </li>

                <li class="list-group-item">
                    <c ng-class="{'text-danger': !u.active, 'text-success': u.active}">Active</c>
                    <c ng-class="{'text-danger': !u.accepted, 'text-success': u.accepted}">Accepted</c>
                    <p><b>Confirmation: </b>{{ u.confirmation }}</p>
                </li>
                <li class="list-group-item">
                    <div class="form-group" ng-hide="u.reviews && u.reviews[vm.current_user_id]">
                    <label for="rating_{{ u.id }}">Rating</label>
                        <select ng-options="x for x in [1, 2, 3, 4, 5, 6, 7 ,8, 9, 10]"
                                ng-model="u.new_review" ngValue="x"
                                required></select>
                        <a class="btn btn-danger" ng-if="!u.mentor"
                           ng-click="vm.rate( u )">Rate</a>
                    </div>
                    <div ng-hide="u.accepted">
                        <a class="btn btn-success"
                           ng-show="$parent.globals.currentUser.admin"
                           ng-click="vm.accept( u.id )">Accept</a>
                    </div>
                    <div ng-show="u.accepted">
                        <a class="btn btn-danger"
                           ng-show="$parent.globals.currentUser.admin"
                           ng-click="vm.unaccept( u.id )">UnAccept</a>
                    </div>

                </li>
                <li class="list-group-item" ng-if="u.mentor">
                    <div>
                        <a class="btn btn-danger"
                           ng-show="$parent.globals.currentUser.organiser"
                           ng-click="vm.edit_mentor( u.id )">Edit Mentor</a>
                        </div>
                </li>
            </ul>
        </div>
    </div>

</div>

</div>
</div>