<div class="row" ng-if="vm.exercises.length > 0">
    <h1>Exercises: </h1>
    <div class="col-sm-12" ng-repeat="ex in vm.exercises">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <strong>{{ ex.title }}</strong> <span class="label label-success">Done</span>
            </div>
            <ul class="list-group">
                <li class="list-group-item">{{ ex.task }}</li>
                <li class="list-group-item">
                    <div class="form-group" ng-hide="ex.answared">
                        <label class='left'
                               for="answare_{{ ex.id }}">Answare:</label>
                        <textarea type="text" name="answare" id="answare"
                                  class="form-control" ng-model="ex.answare"
                                  required/>
                        <a class="btn btn-success" ng-click="vm.answare( ex )">Submit
                            !</a>
                    </div>
                    <div ng-show="ex.answared">
                        <p>{{ ex.answare }}</p>
                        <label class='left' for="new_answare_{{ ex.id }}">New
                            answare:</label>
                        <textarea type="text" name="new_answare"
                                  id="new_answare" class="form-control"
                                  ng-model="ex.answare" required/>
                        <a class="btn btn-success"
                           ng-click="vm.new_answare( ex )">Update</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
