<div class="section-colored text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>PyLadies.Start():</h1>
                <h2>Bezpłatny warsztat programowania w Pythonie dla początkujących.</h2>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h3><i class="fa fa-calendar"></i> Kiedy?</h3>
                <h2>23-24 września 2017</h2>
                <p>Zajęcia będą trwały pełne dwa dni (od 9:00 do 18:00) i poprowadzą je doświadczeni mentorzy – programiści Pythona.</p>
            </div>
            <div class="col-lg-6 col-md-6">
                <h3><i class="fa fa-location-arrow"></i> Gdzie?</h3>
                <h2>W Poznaniu!</h2>
                <p>Nauczymy Was podstaw Pythona i wspólnie, na bieżąco, będziemy ćwiczyć nowo nabywane umiejętności. Chcemy, aby uczestnicy dołączyli następnie do naszych cotygodniowych spotkań PyTrening 4.0, które będą odbywały się w roku akademickim 2017/2018 w Poznaniu. Będziemy na nich dalej szlifowali i rozwijali znajomość języka Python. </p>
            </div>
        </div>
    </div>
</div>


<div class="section-colored">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Staże i praktyki</h3>
                <p>Dla najlepszych uczestniczek/uczestników czekają płatne staże i praktyki u naszych partnerów.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-pencil"></i>Materiały po polsku</h3>
                <p> Nasi mentorzy przygotowują materiały w formie lekcji, ćwiczeń, zadań domowych i pytań sprawdzających w języku polskim.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-folder-open"></i>Społeczność</h3>
                <p>Dzięki tym warsztatom macie szansę dołączyć do grone programistów języka Python, zdaniem wielu najbardziej otwartej społeczności programistów na świecie.</p>
            </div>
        </div>
    </div>
</div>



<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Zdjęcia z trzeciej edycji Pyladies Poznań</h2>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#">
                    <img class="img-responsive img-home-portfolio" src="images/home_0001.jpg">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#">
                    <img class="img-responsive img-home-portfolio" src="images/home_0002.jpg">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#">
                    <img class="img-responsive img-home-portfolio" src="images/home_0003.jpg">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#">
                    <img class="img-responsive img-home-portfolio" src="images/home_0004.jpg">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#">
                    <img class="img-responsive img-home-portfolio" src="images/home_0005.jpg">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#">
                    <img class="img-responsive img-home-portfolio" src="images/home_0006.jpg">
                </a>
            </div>
        </div>
        

    </div>
    

</div>


<div class="section-colored">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Warunki uczestnictwa:</h2>
                <p>W warsztacie może wziąć udział każdy, niezależnie od płci, wieku (16+), wykształcenia, czy wykonywanego zawodu. Konieczne są:</p>
                <ul>
                    <li>Własny laptop</li>
                    <li>Zainstalowane środowisko <a href="https://www.youtube.com/watch?v=0d6znPZb3PQ&t=3s">(instrukcja)</a></li>
                    <li>Przejście <a href="https://pyladiesstart.pl/#/register">rekrutacji</a></li>
                    <li>Podstawowa znajomość języka angielskiego. <i>(Warsztaty będą prowadzone w języku polskim, jednakże dla opanowania składni języka Python znajomość języka angielskiego będzie niewątpliwie pomocna)</i>
                </ul>
                <p>Dodatkowo prosimy o zaopatrzenie się w jedzenie we własnym zakresie, którym będzicie się mogli i chcieli podzielić z innymi uczestnikami. Zapewniamy jedynie ciepłe i chłodne napoje.</p>
                <p>Potrzebujemy także użyczenia listew zasilających, najchętniej 5- lub 6-gniazdowych. Prosimy o Wasze wsparcie i deklarację w tej sprawie podczas rejestracji.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="images/home_0007.jpg">
            </div>
        </div>
        

    </div>
    

</div>


<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="images/home_0008.jpg">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Zapraszamy!</h2>
                <h3>Poznaj język, poznaj nowych ludzi, rozruszaj swój mózg, otwórz sobie drogę do kariery w IT!</h3>
            </div>
        </div>
        

    </div>
    

</div>


<div class="section-colored">
    <div class="container">
        <h1>Sponsorzy i partnerzy Złoci</h1>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Tu możesz znaleźć się i Ty</h3>
                <p>Napisz do nas, a chętnie prześlemy Ci ofertę współpracy</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Tu możesz znaleźć się i Ty</h3>
                <p>Napisz do nas, a chętnie prześlemy Ci ofertę współpracy</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Tu możesz znaleźć się i Ty</h3>
                <p>Napisz do nas, a chętnie prześlemy Ci ofertę współpracy</p>
            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <h1>Sponsorzy i partnerzy Srebrni</h1>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3></i>Tandem Pub | Tandem Studio</h3>
                <img class="img-responsive" src="https://www.pitupitu.pl/files/HZpEDn0OZ0Xs3wGLlDCj4HDIzRY/big">
                <p>

Chcielibyśmy serdecznie podziękować pubowi Tandem za udzieloną nam pomoc przy organizacji szkoleń dla mentorów oraz afterparty zaplanowanego po kursie.
</p><p>
Tandem pub jest miejscem, oferującym  szeroki wybór piw, alkoholi i przekąsek, gdzie można miło spędzić czas ze znajomymi, a także uczyć się języków obcych na organizowanych tam warsztatach językowych. Oferują wyjątkową atmosferę, w której można się odprężyć. Organizują też spotkania podróżnicze, gdzie można posłuchać o różnych zakątkach świata.
Tuż obok, znajduje się Tandem Studio, wyjątkowa przestrzeń stworzona do organizacji wszelkiego rodzaju wydarzeń, wystaw i imprez, również zamkniętych. Tandem Studio, jest miejscem, w którym można poczuć się jak w domu. Podczas organizacji wydarzeń można korzystać z szeregu udogodnień, takich jak: aneks kuchenny, niezależne nagłośnienie, projektor, Internet, zabawki dla dzieci.
                </p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Tu możesz znaleźć się i Ty</h3>
                <p>Napisz do nas, a chętnie prześlemy Ci ofertę współpracy</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Tu możesz znaleźć się i Ty</h3>
                <p>Napisz do nas, a chętnie prześlemy Ci ofertę współpracy</p>
            </div>
        </div>
    </div>
</div>


<div class="section-colored">
    <div class="container">
        <h1>Sponsorzy i partnerzy Brązowi</h1>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Tu możesz znaleźć się i Ty</h3>
                <p>Napisz do nas, a chętnie prześlemy Ci ofertę współpracy</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Tu możesz znaleźć się i Ty</h3>
                <p>Napisz do nas, a chętnie prześlemy Ci ofertę współpracy</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Tu możesz znaleźć się i Ty</h3>
                <p>Napisz do nas, a chętnie prześlemy Ci ofertę współpracy</p>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <h1>Patroni medialni</h1>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Tu możesz znaleźć się i Ty</h3>
                <p>Napisz do nas, a chętnie prześlemy Ci ofertę współpracy</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Tu możesz znaleźć się i Ty</h3>
                <p>Napisz do nas, a chętnie prześlemy Ci ofertę współpracy</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Tu możesz znaleźć się i Ty</h3>
                <p>Napisz do nas, a chętnie prześlemy Ci ofertę współpracy</p>
            </div>
        </div>
    </div>
</div>
