<div class="section-colored text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>PyLadies.Start():</h1>
                <h2>bezpłatny warsztat programowania dla początkujących.</h2>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h3><i class="fa fa-calendar"></i> Kiedy ?</h3>
                <h2>23-24 września 2017</h2>
                <p>Zajęcia będą trwały pełne dwa dni (od 9:00 do 18:00) i poprowadzą je doświadczeni mentorzy – programiści Pythona</p>
            </div>
            <div class="col-lg-6 col-md-6">
                <h3><i class="fa fa-location-arrow"></i> Gdzie ?</h3>
                <h2>w Poznaniu !</h2>
                <p>Nauczymy Was podstaw Pythona i wspólnie na bieżąco będziemy ćwiczyć nowo nabywane umiejętności. Chcemy, aby uczestnicy dołączyli następnie do naszych cotygodniowych spotkań PyTrening 4.0, które będą odbywały się w roku akademickim 2017/2018 w Poznaniu. Będziemy na nich dalej szlifowali i rozwijali znajomość języka Python. </p>
            </div>
        </div>
    </div>
</div>


<div class="section-colored">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Staże i praktyki</h3>
                <p>Dla najlepszych uczestników czekaja płatne staże i praktyki u naszych partnerów.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-pencil"></i>Materiały po Polsku</h3>
                <p> Nasi mentorzy przygotuwja materiały w formie lekcji, ćwiczeń, zadań domowych i pytań sprawdzających w języku Polskim</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-folder-open"></i>Społeczność</h3>
                <p>Dzięki tym warsztatą macie szanse dołączyć do programistów języka Python, zdaniem wielu najbardziej otwartej społeczności programistów na świecie</p>
            </div>
        </div>
    </div>
</div>



<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Zdjęcia z trzeciej edycji Pyladies Poznań</h2>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#">
                    <img class="img-responsive img-home-portfolio" src="images/home_0001.jpg">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#">
                    <img class="img-responsive img-home-portfolio" src="images/home_0002.jpg">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#">
                    <img class="img-responsive img-home-portfolio" src="images/home_0003.jpg">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#">
                    <img class="img-responsive img-home-portfolio" src="images/home_0004.jpg">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#">
                    <img class="img-responsive img-home-portfolio" src="images/home_0005.jpg">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#">
                    <img class="img-responsive img-home-portfolio" src="images/home_0006.jpg">
                </a>
            </div>
        </div>
        

    </div>
    

</div>


<div class="section-colored">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Warunki uczestnictwa:</h2>
                <p>W warsztacie może wziąć udział każdy, niezależnie od płci, wieku (16+), wykształcenia, czy wykonywanego zawodu.</p>
                
                <ul>
                    <li>Własny, sprawny, laptop</li>
                    <li>Zainstalowane środowisko</li>
                    <li>Przejście <a href="https://pyladiesstart.pl/#/">rekrutacji,</a></li>
                    <li>Podstawowa znajomość języka angielskiego. <i>( warsztaty będą prowadzone w języku PL jednakże, dla opanowania składni języka Python znajomość języka ENG będzie niewątpliwie pomocna ).</i>
                </ul>
                <p>Dodatkowo prosimy o zaopatrzenie się w jedzenie we własnym zakresie. Zapewniamy jedynie ciepłe i chłodne napoje.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="images/home_0007.jpg">
            </div>
        </div>
        

    </div>
    

</div>


<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="images/home_0008.jpg">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Zapraszamy!</h2>
                <h3>Poznaj język, poznaj nowych ludzi, rozruszaj swój mózg, otwórz sobie drogę do kariery w IT!</h3>
            </div>
        </div>
        

    </div>
    

</div>





<div class="section-colored">
    <div class="container">
        <h1>Spnsorzy i partnerzy</h1>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Tu możesz znaleźć sie i Ty</h3>
                <p>Napisz do nas a chętnie prześlemy Ci oferte wspołpracy</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Tu możesz znaleźć sie i Ty</h3>
                <p>Napisz do nas a chętnie prześlemy Ci oferte wspołpracy</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Tu możesz znaleźć sie i Ty</h3>
                <p>Napisz do nas a chętnie prześlemy Ci oferte wspołpracy</p>
            </div>
        </div>
    </div>
</div>

