<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Lessons</h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default" ng-repeat="x in vm.lessons">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" target="_self"
                               data-parent="#accordion"
                               href="#collapse_{{ x.id }}">
                               {{ x.id }}.  {{ x.title }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse_{{ x.id }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{ x.description }}
                            <br>
                            <a href="{{ x.file }}">{{ x.file }}</a>
                        </div>
                    </div>
                </div>



            </div>

        </div>

    </div>

</div>
<!-- /.container -->