<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Lessons: Management</h1>
    </div>
     <div class="col-sm-6" ng-repeat="less in vm.lessons">
        <div class="panel panel-default text-left">
            <div class="panel-heading">
                <strong>{{ less.id }}: {{ less.title }} </strong>   <a href="#/lesson/{{ less.id }}" class="btn btn-xs btn-primary">Show</a>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                   <b>Description:</b><br>
                    {{ less.description }}
                </li>
                <li class="list-group-item">
                   <b>Author:</b>
                    {{ less.author }}
                </li>
                <li class="list-group-item" ng-if="less.quiz">
                   <b>Quiz:</b>
                    {{ less.quiz }}
                </li>
                <li class="list-group-item" ng-if="less.live_quiz">
                   <b>Live Quiz:</b>
                    {{ less.live_quiz }}
                </li>
                <li class="list-group-item">
                    <text class="bg-success" ng-show="less.active"> Active </text> <text class="bg-warning" ng-hide="less.active"> Not Active </text><br>
                        <a class="btn btn-success inline" ng-hide="less.active"
                           ng-show="$parent.globals.currentUser.admin"
                           ng-click="vm.activate( less.id )">Active</a>

                        <a class="btn btn-danger" ng-show="less.active && $parent.globals.currentUser.admin" class="inline"
                           ng-click="vm.deactivate( less.id )">Deactivate</a>
                        <a class="btn btn-warning inline"
                           ng-show="$parent.globals.currentUser.admin"
                           ng-click="vm.absence( less.id )">Absence Code</a>
                    <a class="btn btn-info inline"
                           ng-show="$parent.globals.currentUser.admin"
                           ng-click="vm.extend( less.id )">Extend</a>
                    <a class="btn btn-success inline"
                           ng-show="$parent.globals.currentUser.admin"
                           ng-click="vm.attendance( less.id )">Attendance</a>
                </li>
            </ul>
        </div>
    </div>




</div>
</div>
