<div class="container">
    <div class="row"
         ng-show="$parent.globals.currentUser.admin || $parent.globals.currentUser.organiser">
        <div class="col-lg-12">
            <h1 class="page-header">Users Attendence Summary</h1>

            <h3>
                Attendance: {{ vm.absence_overview.amount }}/{{ vm.absence_overview.max }}
                => {{ vm.absence_overview.perc }}</h3>
            <br>

            <b>Surnames:</b>
        </div>
        <div class="col-sm-1" ng-repeat="abs in vm.absence_overview.data">
            <p>{{ abs.users }}</p>
        </div>
    </div>
</div>
