<div class="container">
    <div class="row" ng-show="$parent.globals.currentUser.mentor || $parent.globals.currentUser.organiser">
        <div class="col-lg-12">
            <h1 class="page-header">Users Summary</h1>
        </div>
        <h3>Exercise status:</h3>
        <div class="table-responsive" ng-repeat="(lesson, value) in vm.exercises_overview">
            Lesson: {{ lesson }}
            <table class="table">
                <thead>
                <tr>
                    <th>Task</th>
                    <th>Status</th>

                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="exe in value">
                    <td>{{ exe.title }}</td>
                    <td><p ng-repeat="(ans, val) in exe.exercise_answare"><b>{{ ans }}</b>: {{ val }}</p></td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>
