<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Program  PyLadies.start()</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h2>Warsztat weekendowy:</h2>
            <ol>
                <li>Instrukacja obsługi warsztatu</li>
                <li>Co to jest programowanie, Python, i do czego można go wykorzystać</li>
                <li>Przyjazne wprowadzenie do algorytmiki</li>
                <li>Pierwsze kroki z interpreterem Pythona i IDE Pycharma</li>
                <li>Python jako Kalkulator</li>
                <li>Zmienna niczym kobieta</li>
                <li>Jak wytłumaczyć wężowi o czym mówimy czyli - typy danych:
                    znakowy, liczbowy i boolowski
                </li>
                <li>Zabawy ze stringami</li>
                <li>Funkcje wbudowane</li>
                <li>Logiczna logika</li>
                <li>Warunkowe warunki</li>
                <li>Listy zakupów</li>
                <li>Słowniki od A do Z</li>
                <li>Pętla dla każdego (for) zrobię coś fajnego</li>
                <li>Pętla dopóki mogę (while) będę robił coś fajnego</li>
                <li>nasza_funkcja()</li>
                <li>Łapanie wyjątkowych błędów i trolli</li>
                <li>Import losowości i innych Modułów</li>
                <li>Powtórka całości</li>
            </ol>
            <h3>W miarę możliwości:</h3>
            <ol>
                <li>Wszystko jest obiektem - wstęp do programowania
                    obiektowego
                </li>
                <li>Sukces i jego trzech ojców – tolerancyjne dziedziczenie
                </li>
                <li>Hermetyzacja dzieci – rodzaje metod</li>
            </ol>
            <h2>Co tygodniowy warsztat Dwugodzinny zaczyna się od lekcji na
                której
                skończył się warsztat weekendowy:</h2>

            <h3>I semestr 14 spotkań od 17.10 do 12.12, od 09.01 do 13.02</h3>
            <ol>
                <li>Organizacja i powtórka</li>
                <li>Wszystko jest obiektem - wstęp do programowania
                    obiektowego</li>
                <li>Wszytko jest obiektem - cd.</li>
                <li>Praca z plikami, format JSON</li>
                <li>Biblioteki zewnętrzne, praca z API RESTowym</li>
                <li>Git - system kontroli wersji</li>
                <li>Aplikacja webowa w Pythonie, wstęp do Flaska</li>
                <li>HTML oraz tworzenie wzorników stron i formularzy</li>
                <li>Powtórzenie – pierwsza pełna aplikacja webowa. Jinja2.</li>
                <li>Bazy danych SQL</li>
                <li>Bazy danych NO-SQL</li>
                <li>Tworzenie API RESTowego</li>
                <li>Testy Jednostkowe i TDD</li>
                <li>Scrum, Agile i wybór projektów Zespołowych</li>
            </ol>

            <h3>II semestr 13 spotkań od 06.03 do 19.06</h3>
            <ol>
                <li>Omówienie projektów zespołowych</li>
                <li>PEP8, PyLint i metodologie programistyczne</li>
                <li>Przechowywanie i tworzenie plików konfiguracyjnych</li>
                <li>Linux, Bash i SSH wprowadzenie</li>
                <li>Serwery wirtualne, deployment aplikacji webowej</li>
                <li>Wyrażenie regularne</li>
                <li>Powtórka</li>
                <li>Zaawansowane funkcje w Pythonie</li>
                <li>Zaawansowane konstrukcje w Pythonie</li>
                <li>Projekt zespołowy I</li>
                <li>Projekt zespołowy II</li>
                <li>Test sprawdzający</li>
                <li>Omówienie projektów i wyników testu</li>

            </ol>
        </div>
        <div class="col-lg-6">
            <h2>Weekend workshops - kickoff:</h2>
            <ol>
                <li> PyLadies.start() - a hands-on manual</li>
                <li> What is programming, what is Python and what for can I use it</li>
                <li> A friendly introduction to algorithms</li>
                <li> First steps with the Python interpreter and PyCharm IDE</li>
                <li> Python as a calculator</li>
                <li> Variable like a woman</li>
                <li> How to talk to snakes - data types: character, numerical and Boolean
                </li>
                <li> Fun with strings</li>
                <li> Built-in functions</li>
                <li> Logical logic</li>
                <li> Conditional conditions</li>
                <li> Shopping lists</li>
                <li> Dictionaries from A to Z</li>
                <li> Loop for everyone</li>
                <li> Loop while I still can</li>
                <li> our_function()</li>
                <li> Catching unique exceptions and trolls</li>
                <li> Importing randomness and other modules</li>
                <li> Recap</li>

            </ol>
            <h3>As far as possible:</h3>
            <ol>
                <li> Everything is an object - programming objectively</li>
                <li> Success and their tree fathers - tolerant inheritance</li>
                <li> Hermetizing children - methods types</li>
            </ol>
            <h2>The weekly two-hour workshop will take it from where the weekend workshop has ended:</h2>

            <h3>1st term 14 meetings from 17.10 to 12.12, from 09.01 to
                13.02</h3>
            <ol>
                <li>Everything is an object - introduction to OOP</li>
                <li>Everything is an object  - cont.</li>
                <li> Working with files, JSON format</li>
                <li> External libraries and working with REST API</li>
                <li> Git</li>
                <li> Web applications in Python, intro to Flask</li>
                <li> HTML,  creating page templates and forms</li>
                <li>Recap. Jinja 2</li>
                <li> SQL databases</li>
                <li> NO-SQL databases</li>
                <li> Creating a REST API</li>
                <li> Unit Testing and TDD</li>
                <li> Scrum, Agile and teamwork project selection</li>
                <li> Recap and next steps in projects</li>

            </ol>

            <h3>2nd term 13 meetings from 06.03 to 19.06</h3>
            <ol>
                <li> Overview of team projects</li>
                <li> PEP8, PyLint, and development methodologies</li>
                <li> Storing and creating configuration files</li>
                <li> SSH, AWS, and virtual servers</li>
                <li> Deployment of web applications</li>
                <li> Regular expression</li>
                <li> Advanced constructs in Python</li>
                <li> Advanced features in Python I</li>
                <li> Advanced features in Python II</li>
                <li> Team Project I</li>
                <li> Team Project II</li>
                <li> Year Test</li>
                <li> Overview of test results and team projects</li>

            </ol>
        </div>
    </div>
</div>