<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Program  PyLadies.start()</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h2>Warsztat weekendowy:</h2>
            <ol>
                <li>Instrukacja obsługi warsztatu</li>
                <li>Co to jest programowanie, Python, i do czego można go wykorzystać</li>
                <li>Przyjazne wprowadzenie do algorytmiki</li>
                <li>Pierwsze kroki z interpreterem Pythona i IDE Pycharma</li>
                <li>Python jako Kalkulator</li>
                <li>Zmienna niczym kobieta</li>
                <li>Jak wytłumaczyć wężowi o czym mówimy czyli - typy danych:
                    znakowy, liczbowy i boolowski
                </li>
                <li>Zabawy ze stringami</li>
                <li>Funkcje wbudowane</li>
                <li>Logiczna logika</li>
                <li>Warunkowe warunki</li>
                <li>Listy zakupów</li>
                <li>Słowniki od A do Z</li>
                <li>Pętla dla każdego (for) zrobię coś fajnego</li>
                <li>Pętla dopóki mogę (while) będę robił coś fajnego</li>
                <li>nasza_funkcja()</li>
                <li>Łapanie wyjątkowych błędów i trolli</li>
                <li>Import losowości i innych Modułów</li>
                <li>Powtórka całości</li>
            </ol>
            <h3>W miarę możliwości:</h3>
            <ol>
                <li>Wszystko jest obiektem - wstęp do programowania
                    obiektowego
                </li>
                <li>Sukces i jego trzech ojców – tolerancyjne dziedziczenie
                </li>
                <li>Hermetyzacja dzieci – rodzaje metod</li>
            </ol>
            <h2>Co tygodniowy warsztat Dwugodzinny zaczyna się od lekcji na
                której
                skończył się warsztat weekendowy:</h2>

            <h3>I semestr 16 spotkań od 4.10 do 13.12, od 10.01 do 14.02</h3>
            <ol>
                <li>Praca z plikami, format JSON</li>
                <li>Biblioteki zewnętrzne</li>
                <li>Praca z API RESTowym</li>
                <li>Git</li>
                <li>Aplikacja webowa co to jest, jak wygląda to w Pythonie</li>
                <li>Wstęp do Flaska jednego z Pythonowych frameworków</li>
                <li>HTML i tworzenie wzorników stron</li>
                <li>Formularze</li>
                <li>Python i bazy danych SQL</li>
                <li>Python i bazy danych NO-SQL</li>
                <li>Tworzenie API RESTowego</li>
                <li>Delikatne omówienie czym jest JS i jQuery</li>
                <li>Testy Jednostkowe</li>
                <li>Testy jednostkowe aplikacji webowych</li>
                <li>Scrum, Agile i wybór projektów Zespołowych</li>
                <li>Powtórka i omówienie kolejnych kroków w projektach</li>
            </ol>

            <h3>II semestr 15 spotkań od 7.03 do 13.06</h3>
            <ol>
                <li>Omówienie projektów zespołowych</li>
                <li>PEP8, PyLint i metodologie programistyczne</li>
                <li>Przechowywanie i tworzenie plików konfiguracyjnych</li>
                <li>SSH, AWS i serwery wirtualne</li>
                <li>Deployment aplikacji webowej</li>
                <li>Zaawansowane konstrukcje w Pythonie</li>
                <li>Wyrażenie regularne</li>
                <li>Zaawansowane funkcje w Pythonie</li>
                <li>Zaawansowane funkcje w Pythonie II</li>
                <li>Testy integracyjne aplikacji webowych - selenium</li>
                <li>Projekt zespołowy I</li>
                <li>Projekt zespołowy II</li>
                <li>Projekt zespołowy III</li>
                <li>Test sprawdzający</li>
                <li>Omówienie wyników testu, projektów</li>

            </ol>
        </div>
        <div class="col-lg-6">
            <h2>Weekend workshops - kickoff:</h2>
            <ol>
                <li> PyLadies.start() - a hands-on manual</li>
                <li> What is programming, what is Python and what for can I use it</li>
                <li> A friendly introduction to algorithms</li>
                <li> First steps with the Python interpreter and PyCharm IDE</li>
                <li> Python as a calculator</li>
                <li> Variable like a woman</li>
                <li> How to talk to snakes - data types: character, numerical and Boolean
                </li>
                <li> Fun with strings</li>
                <li> Built-in functions</li>
                <li> Logical logic</li>
                <li> Conditional conditions</li>
                <li> Shopping lists</li>
                <li> Dictionaries from A to Z</li>
                <li> Loop for everyone</li>
                <li> Loop while I still can</li>
                <li> our_function()</li>
                <li> Catching unique exceptions and trolls</li>
                <li> Importing randomness and other modules</li>
                <li> Recap</li>

            </ol>
            <h3>As far as possible:</h3>
            <ol>
                <li> Everything is an object - programming objectively</li>
                <li> Success and their tree fathers - tolerant inheritance</li>
                <li> Hermetizing children - methods types</li>
            </ol>
            <h2>The weekly two-hour workshop will take it from where the weekend workshop has ended:</h2>

            <h3>1st term 16 meetings from 4.10 to 13.12, from 10.01 to
                14.02</h3>
            <ol>
                <li> Working with files, JSON format</li>
                <li> External Libraries</li>
                <li> Working with the REST API</li>
                <li> Git</li>
                <li> Web applications, Python frameworks</li>
                <li> Introduction to Flask</li>
                <li> HTML and creating page templates</li>
                <li> Forms</li>
                <li> Python and SQL databases</li>
                <li> Python and NO-SQL databases</li>
                <li> Creating a REST API</li>
                <li> A gentle introduction to JS and jQuery</li>
                <li> Unit Testing</li>
                <li> Unit testing of web applications</li>
                <li> Scrum, Agile and teamwork project selection</li>
                <li> Recap and next steps in projects</li>

            </ol>

            <h3>2nd term 15th meetings from 7.03 to 13.06</h3>
            <ol>
                <li> Overview of team projects</li>
                <li> PEP8, PyLint, and development methodologies</li>
                <li> Storing and creating configuration files</li>
                <li> SSH, AWS, and virtual servers</li>
                <li> Deployment of web applications</li>
                <li> Advanced constructs in Python</li>
                <li> Regular expression</li>
                <li> Advanced features in Python I</li>
                <li> Advanced features in Python II</li>
                <li> Integration testing of web applications - Selenium</li>
                <li> Team Project I</li>
                <li> Team Project II</li>
                <li> Team Design III</li>
                <li> Year Test</li>
                <li> Overview of test results and team projects</li>

            </ol>
        </div>
    </div>
</div>