<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Program  PyLove</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h2>Materiał przerobiony w czasie warsztatu weekendowego:</h2>
            <ol>
                <li>Instrukacja obsługi warsztatu</li>
                <li>Co to jest programowanie, Python, i do czego można go wykorzystać</li>
                <li>Przyjazne wprowadzenie do algorytmiki</li>
                <li>Pierwsze kroki z interpreterem Pythona i IDE Pycharma</li>
                <li>Python jako Kalkulator</li>
                <li>Zmienna niczym kobieta</li>
                <li>Jak wytłumaczyć wężowi o czym mówimy czyli - typy danych:
                    znakowy, liczbowy i boolowski
                </li>
                <li>Zabawy ze stringami</li>
                <li>Funkcje wbudowane</li>
                <li>Logiczna logika</li>
                <li>Warunkowe warunki</li>
                <li>Listy zakupów</li>
                <li>Słowniki od A do Z</li>
                <li>Pętla dla każdego (for) zrobię coś fajnego</li>
                <li>Pętla dopóki mogę (while) będę robił coś fajnego</li>
                <li>nasza_funkcja()</li>
                <li>Łapanie wyjątkowych błędów i trolli</li>
                <li>Import losowości i innych Modułów</li>
                <li>Powtórka całości</li>
            </ol>
            <h3>W miarę możliwości:</h3>
            <ol>
                <li>Wszystko jest obiektem - wstęp do programowania
                    obiektowego
                </li>
                <li>Sukces i jego trzech ojców – tolerancyjne dziedziczenie
                </li>
                <li>Hermetyzacja dzieci – rodzaje metod</li>
            </ol>
            <h2>Co tygodniowy warsztat Dwugodzinny zaczyna się od lekcji na
                której
                skończył się warsztat weekendowy:</h2>

            <h3>I semestr 14 spotkań od 17.10 do 12.12, od 09.01 do 13.02</h3>
            <ol>
                <li>2017.10.17 - Organizacja i powtórka - Piotr Dyba</li>
                <li>2017.10.24 - Praca z plikami, format JSON - Piotr Dyba</li>
                <li>2017.11.07 - Biblioteki zewnętrzne, praca z API RESTowym - Piotr Dyba</li>
                <li>2017.11.14 - Git - system kontroli wersji - Magdalena Nowak</li>
                <li>2017.11.21 - Wszystko jest obiektem - wstęp do programowania obiektowego - Piotr Dyba</li>
                <li>2017.11.28 - Wszytko jest obiektem - cd. - Piotr Dyba</li>
                <li>2017.12.05 - Aplikacja webowa w Pythonie, wstęp do Flaska - Grzegorz Prokopczyk</li>
                <li>2017.12.12 - HTML oraz tworzenie wzorników stron i formularzy - Grzegorz Prokopczyk</li>
                <li>2018.01.09 - Powtórka: pierwsza pełna aplikacja webowa, Jinja2 - Grzegorz Prokopczyk</li>
                <li>2018.01.16 - Bazy danych SQL - Wojciech Jurkowlaniec</li>
                <li>2018.01.23 - Bazy danych NO-SQL - Wojciech Jurkowlaniec</li>
                <li>2018.01.30 - Tworzenie API RESTowego - Wojciech Jurkowlaniec</li>
                <li>2018.02.06 - Testy Jednostkowe i TDD - TBD</li>
                <li>2018.02.13 - Scrum, Agile i wybór projektów Zespołowych - TBD/Piotr Dyba</li>
            </ol>

            <h3>II semestr 13 spotkań od 06.03 do 19.06</h3>
            <ol>
                <li>2018.03.06 - Omówienie projektów zespołowych - Piotr Dyba</li>
                <li>2018.03.13 - PEP8, PyLint i metodologie programistyczne - TBD</li>
                <li>2018.03.20 - Przechowywanie i tworzenie plików konfiguracyjnych - Wojciech Jurkowlaniec</li>
                <li>2018.03.27 - Linux, Bash i SSH wprowadzenie - Filip Rachwalak</li>
                <li>2018.04.10 - Serwery wirtualne, deployment aplikacji webowej - Wojciech Jurkowlaniec</li>
                <li>2018.04.17 - Wyrażenie regularne - Wojciech Jurkowlaniec</li>
                <li>2018.04.24 - Powtórka - Piotr Dyba</li>
                <li>2018.05.08 - Zaawansowane funkcje w Pythonie - TBD</li>
                <li>2018.05.15 - Zaawansowane konstrukcje w Pythonie - TBD</li>
                <li>2018.05.22 - Projekt zespołowy I - Piotr Dyba</li>
                <li>2018.06.05 - Projekt zespołowy II - Piotr Dyba</li>
                <li>2018.06.12 - Test sprawdzający - Piotr Dyba</li>
                <li>2018.06.19 - Omówienie projektów i wyników testu - Piotr Dyba</li>

            </ol>
        </div>
        <div class="col-lg-6">
            <h2>Weekend workshops - kickoff:</h2>
            <ol>
                <li> PyLove - a hands-on manual</li>
                <li> What is programming, what is Python and what for can I use it</li>
                <li> A friendly introduction to algorithms</li>
                <li> First steps with the Python interpreter and PyCharm IDE</li>
                <li> Python as a calculator</li>
                <li> Variable like a woman</li>
                <li> How to talk to snakes - data types: character, numerical and Boolean
                </li>
                <li> Fun with strings</li>
                <li> Built-in functions</li>
                <li> Logical logic</li>
                <li> Conditional conditions</li>
                <li> Shopping lists</li>
                <li> Dictionaries from A to Z</li>
                <li> Loop for everyone</li>
                <li> Loop while I still can</li>
                <li> our_function()</li>
                <li> Catching unique exceptions and trolls</li>
                <li> Importing randomness and other modules</li>
                <li> Recap</li>

            </ol>
            <h3>As far as possible:</h3>
            <ol>
                <li> Everything is an object - programming objectively</li>
                <li> Success and their tree fathers - tolerant inheritance</li>
                <li> Hermetizing children - methods types</li>
            </ol>
            <h2>The weekly two-hour workshop will take it from where the weekend workshop has ended:</h2>

            <h3>1st term 14 meetings from 17.10 to 12.12, from 09.01 to
                13.02</h3>
            <ol>
                <li> Revision </li>
                <li> Working with files, JSON format</li>
                <li> External libraries and working with REST API</li>
                <li> Git</li>
                <li>Everything is an object - introduction to OOP</li>
                <li>Everything is an object  - cont.</li>
                <li> Web applications in Python, intro to Flask</li>
                <li> HTML,  creating page templates and forms</li>
                <li>Recap. Jinja 2</li>
                <li> SQL databases</li>
                <li> NO-SQL databases</li>
                <li> Creating a REST API</li>
                <li> Unit Testing and TDD</li>
                <li> Scrum, Agile and teamwork project selection</li>
                <li> Recap and next steps in projects</li>

            </ol>

            <h3>2nd term 13 meetings from 06.03 to 19.06</h3>
            <ol>
                <li> Overview of team projects</li>
                <li> PEP8, PyLint, and development methodologies</li>
                <li> Storing and creating configuration files</li>
                <li> SSH, AWS, and virtual servers</li>
                <li> Deployment of web applications</li>
                <li> Regular expression</li>
                <li> Advanced constructs in Python</li>
                <li> Advanced features in Python I</li>
                <li> Advanced features in Python II</li>
                <li> Team Project I</li>
                <li> Team Project II</li>
                <li> Year Test</li>
                <li> Overview of test results and team projects</li>

            </ol>
        </div>
    </div>
</div>