<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Quizes
                <small>Avalaible quizes</small>
            </h1>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-3" ng-repeat="q in vm.quizes">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>{{ q.title }}</strong>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">{{ q.amount }}
                        <span class="price-month">questions</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">{{ q.description }}
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">{{ q.author }}</li>
                    <li class="list-group-item">{{ q.lesson }}</li>
                    <li class="list-group-item"><a class="btn btn-primary">Start now !</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>