<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Rejestracja potwierdzona, możesz się logować !</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>Rejestracja zakończy się 10.09.2017. Odpowiedź o przyjęciu przyjdzie do końca dnia 14.10.2017</h2>

            <h3>Pamiętaj, że od momentu otrzymania informacji o pozytywnym wyniku rekrutacji masz 72 godziny na potwierdzenie swojej obecności, inaczej Twoje miejsce przepadnie.</h3>
        </div>
    </div>
</div>