<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Regulamin warsztatów PyLadies.start()</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

<ol>
<li>Organizatorem wydarzenia „PyLadies.start()” (dalej zwanego Warsztatem) jest wolontariacka społeczność PyLadies Poznań, zwana dalej Organizatorem.</li>
<li>Strona Internetowa Organizatora to poland.pyladies.com</li>
<li>Warsztat odbywa się w dniach 23-24.09.2017 r. w  Poznaniu.</li>
<li>Mentor wiodący będzie prowadził wykład, na sali uczestników będą wspierali mentorzy wspierający. Na 10 uczestników będzie przypadał jeden mentor.</li>
<li>Na Warsztat należy przyjść z własnym laptopem i zainstalowanym według wskazówek Organizatora środowiskiem. Organizator zdalnie aktywnie wesprze uczestników w instalacji środowiska. Organizator wskaże Uczestnikom metodę uzyskiwania tego wsparcia.</li>
<li>Liczba miejsc jest ograniczona do maksymalnie 200 osób.</li>
<li>W wypadku większej liczby zgłoszeń, Uczestnicy zostaną wybrani na podstawie oceny Organizatora.</li>
<li>Uczestnikiem Warsztatu jest każda osoba, która prawidłowo wypełnieni formularz rejestracyjny znajdujący się na stronie internetowej wydarzenia, zaakceptuje niniejszy Regulamin, otrzyma informację o zakwalifikowaniu się na Warsztat i w terminie 72 godzin od tej informacji potwierdzi swoje uczestnictwo w Warsztacie metodą wskazaną przez Organizatora.</li>
<li>W razie nie potwierdzenia uczestnictwa, uczestnik zostanie skreślony z listy biorących udział w Warsztacie i na jego miejsce zostanie zaproszona osoba z listy rezerwowej. Zakwalifikowana w ten sposób osoba stanie się Uczestnikiem Warsztatu, jeśli w terminie do 48 godzin potwierdzi swoje uczestnictwo w Warsztacie metodą wskazaną przez Organizatora.</li>
<li>Uczestnik wyraża zgodę na wykorzystywanie zdjęć i nagrań ze swoim wizerunkiem, powstałych podczas Warsztatu. Będą one powielane w mediach oraz materiałach promocyjnych Organizatora m.in. na stronach internetowych, w social media, jak również poprzez ogólnodostępne środki masowego przekazu (prasa, radio, telewizja, internet).</li>
<li>Uczestnik wyraża zgodę na otrzymywanie informacji związanych z Warsztatem od Organizatora oraz od sponsorów i partnerów za pośrednictwem Organizatora drogą elektroniczną.</li>
<li>Imię i nazwisko oraz adres mailowy Uczestnika zostaną wykorzystane przez Organizatora tylko dla potrzeb niniejszego Warsztatu i nie zostaną udostępnione żadnemu podmiotowi.</li>
<li>Uczestnik biorący udział w Warsztacie bierze pełną odpowiedzialność prawną i finansową za swoje czyny.</li>
<li>Uczestnik oświadcza, że jest pełnoletni lub, jeśli ma skończone 16 lat, posiada zgodę pisemną rodzica/opiekuna prawnego, którą dostarczy Organizatorowi w czasie rejestracji Uczestników Warsztatu w pierwszym dniu wydarzenia.</li>
<li>Organizator zastrzega sobie prawo do zmian w Regulaminie i programie Warsztatu. Organizator ma obowiązek poinformować Uczestników o wszelkich ewentualnych zmianach w Regulaminie.</li>
<li>Warsztat jest bezpłatny dla uczestników. Organizator nie opłaca zakwaterowania, ani żadnych innych potrzeb Uczestników poza Warsztatem.</li>
<li>Warsztat jest organizowany i prowadzony w języku polskim. Zostaną wykorzystane materiały szkoleniowe w języku polskim.</li>
<li>Poprawne wypełnienie formularza jest równoznaczne z akceptacją Regulaminu.</li>

</ol>
        </div>
    </div>
</div>