<link rel="stylesheet" href="css/seats.css">

<div class="container">
    <div class="row">

        <div class="col-md-12" ng-if="vm.current_user.confirmation === 'ack' || vm.overview">
            <h1 ng-hide="vm.overview">Wybierz swoje miejsce!</h1>
            <h1 ng-show="vm.overview">Miejsca uczestników</h1>
            <br>
            <div class="exit">
            </div>
            <div class="plane">
                <ol>
                    <li class="row" ng-repeat="(raw, y) in vm.seats">
                        <ol class="seats" type="A">
                            <li class="seat" ng-repeat="(number, user) in y">
                                <input ng-click="vm.take_or_relese_seat(raw, number, user)"
                                       type="checkbox"
                                       id="{{ raw }}{{ number }}"
                                       ng-disabled="vm.user_seat.users && (vm.user_seat.row != raw || vm.user_seat.number != number) || user.empty_raw"
                                       ng-checked="vm.user_seat.raw === raw && vm.user_seat.number === number"/>
                                <label for="{{ raw }}{{ number }}" data-toggle="tooltip" data-placement="top" title="{{ user.user }}"
                                       ng-class="{'empty_raw': user.empty_raw, 'i_need_help': user.i_need_help, 'taken': user.user && vm.user_seat.users != user.user_id, 'my_seat': user.user_id && vm.user_seat.users === user.user_id}">
                                    <x ng-hide="user.empty_raw || user.i_need_help">{{ raw }}{{ number }}</x>
                                    <x ng-show="user.i_need_help">{{ user.name }}</x>
                                </label>
                            </li>
                        </ol>
                    </li>

                </ol>

            </div>

        </div>

        <div class="col-md-12" ng-if="vm.current_user.confirmation != 'ack' && !vm.overview">
        <h3>Tylko użytkownicy którzy zostali przyjęci i potwierdzili swoją obecność będą mieć dostęp do wyboru miejsc.</h3>
        </div>

    </div>
</div>