<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-6 col-md-offset-3">
        <h3>Admin: E-Mail:</h3>
        <form role="form">
            <div>
                <div class="form-group">
                    <label>E-mail type:</label>
                    <select ng-options="k.email_type for k in vm.email_options.possible_emails"
                            ng-model="vm.new_email.mail" ng-change="vm.check_recipents()"
                            required class="form-control">
                    </select>
                </div>
                <div class="form-group" ng-if="vm.new_email.mail.recipients">
                    Default recipients:
                    <br>
                    <b>{{ vm.email_options.recipients[vm.new_email.mail.recipients].name }}</b>
                    <br>
                    To: <select
                        ng-options="recip.name for recip in vm.email_options.recipients"
                        ng-model="vm.new_email.recipients" ng-change="vm.check_recipents()"
                        required class="form-control">
                </select>
                </div>
                <div class="form-group" ng-if="vm.new_email.mail.recipients">
                    Subject:
                    <br>
                    <input type="text" name="subject" id="subject"
                           class="form-control" ng-model="vm.new_email.mail.subject"
                           required/>
                </div>
                <div class="form-group" ng-if="vm.new_email.mail.recipients">
                    Message:
                    <br>
                <textarea type="text" name="new_answare" id="e_mail_text" class="form-control"
                          ng-model="vm.new_email.mail.text" required style="min-height: 300px;"/>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit"
                        ng-disabled="form.$invalid || vm.dataLoading"
                        class="btn btn-primary" ng-click="vm.send_email()">Send
                </button>
                <img ng-if="vm.dataLoading"
                     src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
            </div>
        </form>
    </div>
</div>

